<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Epic Time - Rezerwacja</title>
</head>
<body>
<table>
    <tr>
        <td bgcolor="#343049" width="320" height="150" align="center">
            <img src="http://epictime.pl/img/logo.png" alt="Epic Time" />
        </td>
    </tr>
    <tr>
        <td height="10"></td>
    <tr>
        <td width="320" style="font-size: 14px; font-family:/'Myriad Pro/',Helvetica,Arial,sans-serif;">
            Dziękujemy za zgłoszenie. W ciągu dwóch dni roboczych skontaktujemy się z Tobą w celu potwierdzenie rezerwacji i sfinalizowania formalności.
        </td>
    </tr>
</table>
</body>
</html>